In [1]:
import pandas as pd
dictionary = {  "NAME":["ali","veli","kenan","hilal","ayse","evren"],
                "AGE":[15,16,17,33,45,66],
                "SALARY": [100,150,240,350,110,220]} 
dataFrame1 = pd.DataFrame(dictionary) # Verilen bir listi (dict) kullanarak, bir veri tablosu oluşturur.
print(dataFrame1)

    NAME  AGE  SALARY
0    ali   15     100
1   veli   16     150
2  kenan   17     240
3  hilal   33     350
4   ayse   45     110
5  evren   66     220

In [5]:
filter1 = dataFrame1.SALARY > 200 # Maaşı 200'den büyük insanlara listelemek için filtering kullanırız. Bu numpydeki tek boyutlu arrayle aynı (series çıktısı vardır)
print(filter1) # filter1 ile filtredeki true ve falseları görürüz.
print('Type of filter1 is:', type(filter1))

0    False
1    False
2     True
3     True
4    False
5     True
Name: SALARY, dtype: bool
Type of filter1 is: <class 'pandas.core.series.Series'>

In [8]:
filtered_data = dataFrame1[filter1] # Burada filter1 içerisindeki yalnızca true değerleri alır yani maaşı 200'den fazla olanları.
print(filtered_data)

    NAME  AGE  SALARY
2  kenan   17     240
3  hilal   33     350
5  evren   66     220

In [9]:
filter2 = dataFrame1.AGE < 20
print(filter2)

0     True
1     True
2     True
3    False
4    False
5    False
Name: AGE, dtype: bool

In [12]:
filtered_data2 = dataFrame1[filter1 & filter2] # yaşı 20den küçük, maaşı 200den büyük
print(filtered_data2)

    NAME  AGE  SALARY
2  kenan   17     240

In [15]:
print(dataFrame1[dataFrame1.AGE > 60]) # uzun uzadıya yazmak yerine, tek bir kerede filteremek için

    NAME  AGE  SALARY
5  evren   66     220