In [27]:
import pandas as pd
dictionary = {  "NAME":["ali","veli","kenan","hilal","ayse","evren"],
                "AGE":[15,16,17,33,45,66],
                "SALARY": [100,150,240,350,110,220]} 
dataFrame1 = pd.DataFrame(dictionary) # Verilen bir listi (dict) kullanarak, bir veri tablosu oluşturur.
print(dataFrame1)

    NAME  AGE  SALARY
0    ali   15     100
1   veli   16     150
2  kenan   17     240
3  hilal   33     350
4   ayse   45     110
5  evren   66     220

In [28]:
print(dataFrame1.SALARY)

0    100
1    150
2    240
3    350
4    110
5    220
Name: SALARY, dtype: int64

In [29]:
average_salary = dataFrame1.SALARY.mean()
print(average_salary)

195.0

> Aynı yöntem numpy'da da yapılabilir.

In [30]:
import numpy as np
average_salary_np = np.mean(dataFrame1.SALARY)
print(average_salary_np)

195.0

In [31]:
for i in dataFrame1.SALARY:
    if(average_salary > i):
        print("low")
    else:
        print("high")

low
low
high
high
low
high

> List comprehension: offers a **shorter syntax** when you want to create a new list based on the values of an existing list.

In [32]:
dataFrame1["SALARY LEVEL"] = ["high" if i > average_salary else "low" for i in dataFrame1.SALARY]
print(dataFrame1)

    NAME  AGE  SALARY SALARY LEVEL
0    ali   15     100          low
1   veli   16     150          low
2  kenan   17     240         high
3  hilal   33     350         high
4   ayse   45     110          low
5  evren   66     220         high

In [33]:
print(dataFrame1.columns)

Index(['NAME', 'AGE', 'SALARY', 'SALARY LEVEL'], dtype='object')

In [34]:
dataFrame1.columns = [ each.lower() for each in dataFrame1.columns]
print(dataFrame1.columns)

Index(['name', 'age', 'salary', 'salary level'], dtype='object')

In [36]:
dataFrame1.columns = [each.split()[0]+"_"+each.split()[1] if(len(each.split())>1) else each for each in dataFrame1.columns]
print(dataFrame1.columns) # sütundaki boşluk yerine _ yazıldı.

Index(['name', 'age', 'salary', 'salary_level'], dtype='object')